/* style.css */
/* Ben Zager */


body { /* define rules for entire page */
	font-family: Rockwell, serif;
	color: black;
	background-color: #5F9EA0;
}

h1 {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	width: 3.6in;
	overflow: hidden;
	margin-right: auto;
    margin-left: auto;
    background-color: rgb(130, 0, 30);
    
}

nav ul li {
	float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
	background-color: rgb(180, 50, 10);
}

img {
	border-style: solid;
	border-color: black;
	display: block;
	margin: auto;
}

#bio {
	display: block;	
	background-color: white;
	border: solid black 2px;
	max-width: 4.5in;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	line-height: 20px;
	word-spacing: 3px;
}

#resume {
	display: block;
	background-color: white;
	border: solid black 2px;
	max-width: 8in; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
}
#ed ul { /* remove bullets from education in resume */
	list-style-type: none;
}

.job { /* italicize job titles */
	font-style: italic;
}



